:root {
    --main-background: #ccc2c2;
} 

div#app-main{
    width: 100%;
    height: 100vh;
}

div#splash-screen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #ccc2c2;
}

div.main-bg{
    background-color:#ece9e9;
}

div#menu {
    height: inherit;
    display: block;
    margin: 0 auto;
}

div.app-badge{
    margin: 2em;
    padding: 2em;
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1); 
    border-radius: 1em;
    background-color: antiquewhite;
}

div.app-badge:hover{
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}