:root {
    --main-background: #ccc2c2;
}
div#app-main{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

#app-splash-screen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #ccc2c2;
    z-index: 2;
}

div.main-bg{
    background-color:#ece9e9;
}

div#menu {
    height: inherit;
    display: block;
    margin: 0 auto;
    background-color: #f5efef;
}

div#weather-container{
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

div.app-container {
    vertical-align: top;
    text-align: center;
    overflow-y: auto;
    height: 100vh;
}

div.app-badge{
    margin-top: 2em;
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1); 
    border-radius: 0.1em;
}

div.app-badge:hover{
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

div.vertical-divider {
    margin-left: 1%; 
    margin-right: 1%;
	background: #DDDDDD;
	content: ' ';
    display: inline-block;
    width: 1px;
    height: inherit;
}

div.display-inline{
    display: inline;
    overflow-x: scroll;
    overflow-y:hidden;
}


span.weather-icon{
    font-size: 10em;
}

div.weather-icon-temperature{
    font-size: 5em;
}
